<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="border-radius:0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TFL Monitor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/allstatuses">All Lines</a></li>
            <li><a href="/issues">Line Issues</a></li>
            <!-- TODO: Trying to figure out how to make a dynamic dropdown menu -->
            <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Check a line<span class="caret"></span></a>-->
                <!--<ul th:each="line : ${content}">-->
                    <!--<li th:text="${line.lineName}"><a href="#"></a></li>-->
                <!--</ul>-->
            <!--</li>-->

            <!-- Try this when home -->
            <!--<select>-->
                <!--<option th:each="thing: ${content}" th:value="${thing.fieldname}"th:text="${thing.fieldname}">defaulttext</option>-->
            <!--</select>-->

        </ul>
    </div>
</nav>

<div class="container">
    <table class="table table-striped table-hover table-responsive" id="jsonTable">
        <tr>
            <th>Line</th>
            <th>Status</th>
        </tr>
        <tr th:each="line : ${content}">
            <td th:text="${line.lineName}"></td>
            <td class="status" th:text="${line.lineStatus}"></td>
        </tr>
    </table>
</div>

</body>
</html>
