<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" style="border-radius:0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TFL Monitor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">All Lines</a></li>
            <li><a href="/issues">Line Issues</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lines
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:each="line : ${dropdowncontent}" th:value="${line.lineName}"
                        th:onclick="'javascript:showIndividualLineStatus(\'' + ${line.lineName} + '\', \'' + ${line.lineStatus} + '\');'">
                        <a href="#">
                            <span th:text="${line.lineName}"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div th:if="${tablecontent.isEmpty()}">
        <div class="alert alert-info">
            <strong>Info:</strong> All underground services are currently running without issue.
        </div>
    </div>

    <table class="table table-striped table-hover table-responsive" id="jsonTable">
        <tr>
            <th class="col-xs-2">Day/Night Service</th>
            <th class="col-xs-5">Line</th>
            <th class="col-xs-5">Status</th>
        </tr>
        <tr th:each="line : ${tablecontent}">
            <td><img th:src="${line.nightTube ? 'images/daynight.png' : 'images/day.png'}" style="width:25px; height:auto;" /></td>
            <td th:text="${line.lineName}"></td>
            <td class="status" th:text="${line.lineStatus}"></td>
        </tr>
    </table>
</div>

</body>
</html>
