<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${lineName}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

<div class="container">
    <p th:text="${heading}"></p>
    <!--<p th:text="${history}"></p>-->


    <table class="table table-striped table-hover table-responsive" id="jsonTable">
        <tr>
            <th class="col-xs-4">Date &amp; Time</th>
            <th class="col-xs-4">Line Name</th>
            <th class="col-xs-4">Status</th>
        </tr>
        <tr th:each="line : ${history}">
            <td th:text="${line.time}"></td>
            <td th:text="${line.lineName}"></td>
            <td class="status" th:text="${line.lineStatus}"></td>
        </tr>
    </table>

</div>

</body>
</html>
